/* Variaveis CSS - nome válido - deve comrçar com -- - deve ser declarada no :root */
:root{
    --color-green:hsl(75, 94%, 57%);
    --color-white: hsl(0, 0%, 100%);
    --color-grey-700:hsl(0, 0%, 20%);
    --color-grey-800:hsl(0, 0%, 12%);
    --color-grey-900:hsl(0, 0%, 8%);
    --spacing-10:10px;
    --spacing-20:20px;
    --spacing-30:30px;
}

/* Reset CSS  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-grey-900);
}

.container {
    background-color: var(--color-grey-800);
    color: var(--color-white);
    width: 500px;
    border-radius: 10px;
    text-align: center;
     font-family: "Inter", sans-serif;
     padding: var(--spacing-30);
     margin: var(--spacing-10) auto;
}

.container img {
    border-radius: 50%;
    border: 3px solid var(--color-white);
    transition: 1s;
}


.container:hover img {
    border-color: var(--color-green);
    scale: 1.1; 
}

.container h1{
    font-size: 38px;
    font-weight:300;
    /* background-color: #336699; */
    margin-block: var(--spacing-10);
}

.container h2{
    color: var(--color-green);
    font-size: 26px;
    font-weight:200;
    /* background-color: #336699; */
    margin-bottom:var(--spacing-20)
}
.container p{
    font-size: 16px;
    font-weight:200;
    /* background-color: #336699; */
    margin-bottom:var(--spacing-10);
}

.social{
    list-style: none;
}

.social li{
    background-color:var(--color-grey-700);
    margin-block: var(--spacing-10);
    padding-block: var(--spacing-10);
    border-radius: 8px;
    transition: .5s;
}


.social li:hover {
      background-color: var(--color-green);
}

.social.li:hover a {
color:var(--color-grey-900);
}

.social a {
    color:var(--color-white);
    text-decoration: none;
    font-weight: 600;
    display: block; 
}